
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin-top: 40vh;
    margin-left: 25vw;
}

.container {
    height: 20vh;
    display: flex;
}

.container img {
    height: 13vh;
    width: 5vw;
    margin-top: 10%;
    border-radius: 50%;
}

.funcionario {
    height: 21vh;
    width: 12vw;
    background-color: white;
    justify-items: center;
    margin-left: 1vw;
    border-radius: 5%;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
}

.nome {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.cargo {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
