*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: center;
    
}
.conteiner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;

 
  

}

.conteiner img{
    height: 130px;
    width: 100px;
    border-radius: 50%;
    
    

}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 1px 1px 5px  gray;
    width: 250px;
    height: 250px;
}
